<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>

        <%- include("../partials/header") %>
            <main>
                <section class="inicio">
                <div class="contenidoCat">
                    <div class="categorias">
                        <h3 class="categorias">CATEGORIAS</h3>
                        <ul>
                            <li><a href="/accion">Acción</a></li>
                            <li><a href="/aventuras">Aventuras</a></li>
                            <li><a href="/mmo">Juegos MMO</a></li>
                            <li><a href="/deportesyCarreras">Deportes y Carreras</a></li>
                            <li><a href="/estrategia">Estrategia</a></li>
                            <li><a href="/cooperativos">Coopertativos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contenidoPrincipal">
                    <h3 class="titulares">Acción</h3>
                    <div class="productos">
                        <% productos.forEach((p)=>{%>
                            <article class="product">
                                <a href="/product/<%= p.id %>">
                                    <img src="/img/products/<%= p.imagen %>" alt="">
                                    <div class="product-info"><i class="fas fa-truck"></i>
                                        <p class="precio"> $ <%= p.precio %>
                                        </p>
                                        <!-- <p class="descuento">
                                            <%= p.descuento %> OFF
                                        </p>-->
                                        <h4 class="description">
                                            <%= p.nombre %>
                                        </h4>
                                    </div>
                                </a>
                            </article>
                            <%})%>
                    </div>
                </div>
            </section>
            </main>
            <%- include("../partials/footer") %>

    </body>

</html>