<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

  <body>

    <%- include("../partials/header") %>
      <main class="login">
        <div class="login-container">
          <h1>Editar Producto</h1>
          <form action="/edicion/<%=productoEncontrado.id%>?_method=put" method="POST" enctype="multipart/form-data">

            <label for="nombre">Nombre del producto:</label>
            <input value="<%=productoEncontrado.nombre%>"  id="nombre" name="nombre">

            <label for="image">Imagen:</label>
            <input value="<%=productoEncontrado.imagen%>" type="file" id="image" name="image" accept="image/*">

            <label for="precio">Precio:</label>
            <input value="<%=productoEncontrado.precio%>" type="number" id="precio" name="precio" required>

            <label for="categoria">Seleciona la categoria</label>
            <select id="categoria" name="categoria" required>
              <option value="1">Aventuras</option>
              <option value="2">Acción</option>
              <option value="3">Juego de MMO</option>
              <option value="4">Estrategia</option>
              <option value="5">Coopertativos</option>
              <option value="6">Deportes y Carreras</option>
            </select>

            <label for="estreno">Fecha de lanzamiento</label>
            <input type="date" id="estreno" name="estreno" required>

            <label for="rating">Rating</label>
            <input type="number" id="rating" name="rating" required>

            <label for="description">Descripción:</label>
            <input value="<%=productoEncontrado.descripcion%>" id="description" name="description" required>

            <button type="submit">Editar</button>
          </form>
          <form action="/edicion/<%=productoEncontrado.id%>?_method=Delete" method="post">
            <button class="delete" type="submit">Delete</button>
          </form>
        </div>
      </main>
      <%- include("../partials/footer") %>
  </body>

</html>