<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>

    <%- include("../partials/header") %> 
    <main>
        <section>
            <h3 class="titulares">Nuestros Productos</h3>
            <div class="productos">
                <% productos.forEach((p)=>{%>
                <article class="product">
                    <a href="/product/<%= p.id %>">
                        <img src="/img/<%= p.img %>" alt="">
                        <div class="product-info"><i class="fas fa-truck"></i>
                            <p class="precio"> $ <%= p.precio %></p>
                            <p class="descuento"><%= p.descuento %> OFF</p>
                            <h4 class="description"><%= p.titulo %></h4>
                        </div>
                    </a>
                </article>
                <%})%>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %> 

</body>

</html>