<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>

        <%- include("../partials/header") %>

            <main class="detalle">
                <div class="juego">
                    <img class="ImagenJuego" src="/img/products/<%= productoEncontrado.imagen %>" alt="">
                    <div class="descripcion">
                        <ul>
                            <li>
                                <h2>
                                    <%= productoEncontrado.titulo %>
                                </h2>
                            </li>
                            <div class="tituloJuego">
                                <li>
                                    <h3>
                                        <%= productoEncontrado.precio %>
                                    </h3>
                                </li>
                                <li>en 12x $<%= (productoEncontrado.precio/12).toFixed(2) %>
                                </li>
                            </div>
                            <div class="datosJuego">
                                <li>Multijugador: <%= productoEncontrado.multijugador %>
                                </li>
                                <li>Online: <%= productoEncontrado.online %>
                                </li>
                                <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                            </div>
                            <form action="/edicion/<%= productoEncontrado.id %>">
                                <li><button class="botonDeEdicion">Editar Producto</button></li>
                            </form>
                            <form action="/edicion/<%=productoEncontrado.id%>?_method=Delete" method="post">
                                <li><button class="delete" type="submit">Eliminar Producto</button></li>
                            </form>
                            
                            <a href='/restauracion/'>Restaurar Producto</a>

                        </ul>
                    </div>
                </div>
                <p class="detalle">
                    <%= productoEncontrado.description %>
                </p>
            </main>

            <%- include("../partials/footer") %>

    </body>

</html>