<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>

    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="/img/<%= producto.img %>" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2><%= producto.titulo %></h2></li>
                    <div class="tituloJuego">
                        <li><h3><%= producto.precio %></h3></li>
                        <li>en 12x $1.600</li>
                    </div>
                    <div class="datosJuego">
                        <li>Formato: fisico</li>
                        <li>Tapa: dura</li>
                        <li>Editorial: Del Fondo</li>
                        <li>Autor: George Orwell</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle">La novela "1984" habla de una sociedad en la que se adultera la historia de acuerdo a la conveniencia del partido único gobernante. Las tiranías intentan hacer imposible entender el mundo real y buscan sustituirlo con fantasmas y mentiras. 
            
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>