<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>

    <%- include("partials/header") %> 
    <main>
        <section>
            <h3 class="titulares">Juegos</h3>
            <div class="productos">
                <% productos.forEach((p)=>{%>
                <article>
                    <a href="/productRedDead2">
                        <img src="/img/<%= p.img %>" alt="">
                        <div class="product-info"><i class="fas fa-truck"></i>
                            <p class="precio"><%= p.precio %></p>
                            <p class="descuento"><%= p.descuento %> OFF</p>
                            <h4 class="descripcion"><%= p.descripcion %></h4>
                        </div>
                    </a>
                </article>
                <%})%>
            </div>
        </section>

        <section>
            <h3 class="titulares">Libros</h3>
            <div class="productos">
                <article>
                    <a href="/productDonQuijote">
                        <img src="/img/img-quijote1.png" alt="">
                        <div class="product-info"><i class="fas fa-truck"></i>
                            <p class="precio">$15.770</p>
                            <p class="descuento">40% OFF</p>
                            <h4 class="descripcion">Don Quijote de la Mancha vol. 1</h4>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productOdisea">
                    <img src="/img/img-odisea.png" alt="">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$12.300</p>
                        <p class="descuento">20% OFF</p>
                        <h4 class="descripcion">La Odisea</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="/productCrimen">
                    <img src="/img/img-crimen-y-castigo.png" alt="">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$17.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class="descripcion">Crimen y Castigo</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="/product1984">
                    <img src="/img/img-1984.png" alt="">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$19.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class="descripcion">1984</h4>
                    </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <%- include("partials/footer") %> 

</body>

</html>