<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>

    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="/img/<%= producto.img %>" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2><%= producto.titulo %></h2></li>
                    <div class="tituloJuego">
                        <li><h3><%= producto.precio %></h3></li>
                        <li>en 12x $1.600</li>
                    </div>
                    <div class="datosJuego">
                        <li>Plataforma: <%= producto.plataforma %></li>
                        <li>Formato: <%= producto.formato %></li>
                        <li>Multijugador: <%= producto.multijugador %></li>
                        <li>Online: <%= producto.online %></li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle"> 
            <%= producto.description %>
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>