<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>

    <%- include("../partials/header") %> 

    <main>
        <div class="datosUsuario">
            <ul>
                <li><h2> Datos de usuario </h2></li>
                    <div>
                        <img class="imagenUsuario" src="/img/users/<%= usuario.img %>" alt="">
                        <li> Usuario: <%= usuario.usuario %> </li>
                        <li> Contraseña: <%= usuario.contraseña %> </li>
                        <li> Email: <%= usuario.email %> </li>
                    </div>
                        <form action="/edicionUsuario/<%= usuario.id %>"><li><button class="botonDeCompra">Editar Perfil</button></li></form>

            </ul>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>

</html>